.options {
    margin-top: -15px;
    padding: 10px 0;
    font-size: 90%;
    text-align: right;
}
ul.layout-options {
    float: right;
    list-style-type: none;
    margin: 0;
}
ul.layout-options li {
    float: left;
    margin-left: .3em;
    border: 1px solid #ccc;
    padding: 0 .5em;
    border-radius: 5px;
    color: #777;
}
ul.layout-options li a {
    color: #777;
}
ul.layout-options li.on {
    background-color: #748fa0;
    color: #fff;
}
ul.layout-options li.on a {
    color: #fff;
}

.logtail-content .status-bar {
    background-color: #677278;
    color: #eee;
    overflow: auto;
    padding : 0 7px 0 10px;
    height: 29px;
}
.logtail-content .status-bar.on {
    background-color: #709185;
}
.logtail-content .status-bar h4 {
    float: left;
    width: 70%;
    height: 29px;
    line-height: 29px;
    font-size: .9em;
    font-weight: normal;
    margin: 0;
}
.logtail-content .status-bar a {
    float: right;
    line-height: 29px;
    margin-left: 10px;
    color: #fff;
}
.logtail-content .status-bar a:hover {
    color: red;
}
.logtail-content .status-bar a.on {
    color: #980000;
}
.logtail-content .status-bar .tailing-switch {
    line-height: 26px;
}
.logtail-content .status-bar .tailing-switch .tailing-status {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    border-radius: 35%;
    position: relative;
}
.logtail-content .status-bar .tailing-switch .tailing-status::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    height: 10px;
    width: 10px;
    background: #f1f1f1;
    border-radius: 50%;
}
.logtail-content .status-bar .tailing-switch .tailing-status.on {
    background-color: #39aa56;
}
.logtail-content .logtail {
    clear: both;
    margin: 0;
    padding: 10px;
    overflow: auto;
    height: 640px;
    color: #f1f1f1;
    background-color: #222;
    border: none;
    border-radius: 0;
}
.logtail-content.with-track .logtail {
    height: 520px;
}
.logtail-content .logtail p {
    font-size: 12px;
    line-height: 16px;
    white-space: nowrap;
    color: #f1f1f1;
    margin: 0;
    padding: 0;
}
.logtail-content .logtail p.event {
    border-radius: 20px;
    text-align: center;
    border: 1px solid rgba(186, 254, 230, 0.53);
    padding: 3px 6px;
    margin: 4px 0;
    color: #fff;
    background-color: #333;
}
.logtail-content .logtail p.event.error {
    background-color: palevioletred;
    border: 1px solid palevioletred;
    color: yellow;
}

.tiled .tabs {
    display: none;
}
.tiled .logtail-content.available {
    display: block !important;
    padding: 1px;
}
.tiled .logtail-content .logtail {
    height: 580px;
}
.tiled .logtail-content.with-track .logtail {
    height: 460px;
}

@keyframes missileAnimation {
    from {
        left: 0;
    }
    to {
        left: calc(100% - 210px);
    }
}
.missile-track {
    position: relative;
    height: 120px;
    background-color: #0d1939;
    overflow: hidden;
}
.missile-track .stack {
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    height: 120px;
    background-color: red;
    opacity: .15;
}
.missile {
    position: absolute;
    top: 40%;
    right: 10px;
    width: 200px;
    height: 12px;
    border-radius: 60%;
    background: linear-gradient(to right, rgba(9, 17, 39, 0) 0%, rgba(255, 26, 39, 0.4) 100%);
    animation-name: missileAnimation;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    z-index: 100;
}
.mis-1 {
    animation-duration: .8s;
}
.mis-2 {
    height: 16px;
    background: linear-gradient(to right, rgba(204, 204, 204, 0) 0%, rgba(255, 88, 9, 0.52) 100%);
    animation-duration: 1.05s;
}
.mis-3 {
    height: 20px;
    background: linear-gradient(to right, rgba(9, 17, 39, 0) 0%, rgba(255, 29, 112, 0.4) 100%);
    animation-duration: 1.3s;
}